<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>

  <h1>Edit</h1>
  <form method="POST" action="/comments/<%= comment.id %>?_method=PATCH">
    <textarea name="comment" id="comment" cols="30" rows="3"><%= comment.comment.trim() %>
    </textarea>
    <button class="btn btn-primary btn-sm">Save</button>
</form>
</body>
</html>