<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cumque
      dolor velit quaerat debitis voluptate officiis molestiae excepturi quam
      veniam deleniti omnis nostrum consequuntur, et esse perspiciatis sint
      commodi doloremque cum repellat nobis nemo? Aperiam at aliquam fuga
      nesciunt dolorum quaerat debitis nobis. At ipsum dolores fugiat optio
      tempore provident et. Nobis sapiente, reiciendis aliquid repellendus quia
      omnis iure atque illo quaerat, possimus perferendis, nemo ipsum? Nesciunt
      perferendis at doloribus architecto ipsa optio, culpa quas quae labore
      aliquid repudiandae error maxime. Id, nesciunt sint quo eum molestiae quas
      facilis officia nisi, mollitia libero veniam ad cum expedita esse
      inventore repudiandae.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod aliquid
      asperiores molestias nobis repellendus ducimus laboriosam, maiores, sed
      fuga, natus rerum perferendis! Nesciunt voluptatem ex facere. Beatae iste
      nobis alias impedit sequi, praesentium ex consequatur! Quaerat nemo optio
      vero adipisci assumenda dolorum exercitationem dignissimos, ex provident
      praesentium ea non qui.
    </p>
  </body>
</html>
