<%- include('partials/header') %>
<body>
  <%- include('partials/navbar')%>

  <div class="container-fluid">
    <h1>Lesson</h1>
    <h2>Common RESTful Compliant methods/routes</h2>
    <ul class="strong-list">
      <li><strong>GET /comments</strong> - list all comments</li>
      <li><strong>POST /comments</strong> - Create a new comment</li>
      <li><strong>GET /comments/:id</strong> - Get one comment (using ID)</li>
      <li><strong>PATCH /comments/:id</strong> - Update one comment</li>
      <li><strong>DELETE /comments/:id</strong> - Destroy one commet</li>
    </ul>
  </div>
</body>
